body{
    height: 100vh;
    margin:0;
    /* background-color: red; */
}
#content{
    height:100%;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
    text-align: center;
}
/* HEADER PART */
.header{
    background-color: red;
    grid-area: header;
    
}
/* SIDEBAR PART */
.sidebar{
    background-color: blue;
    grid-area: sidebar;
}
.default-projects, .new-projects{
    display: flex;
    flex-direction: column;
}
.new-projects{

}
/* MAIN PART */
.main{
    grid-area: main;
}
/* FOOTER PART */
.footer{
    background-color: green;
    grid-area: footer;
}