@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Warp&display=swap');

:root{
    font-family: roboto;
    --mainPadding: 0 4rem;
    --headerColor: #6d28d9;
    --sidebarColor: #f4f4f5;
    --hoverColor: #bebebe;
}
body{
    height: 100vh;
    margin:0;
    /* background-color: red; */
}
#content{
    height:100%;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
    text-align: center;
}
/* HEADER PART */
.header{
    font-family: 'Tilt Warp';
    background-color: var(--headerColor);
    color: white;
    grid-area: header;
    /* border-bottom: 1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
}
.header > img{
    padding-left: 10px;
    height: 2.5em;
}
/* SIDEBAR PART */

.sidebar{
    background-color: var(--sidebarColor);
    grid-area: sidebar;
}
.proj-container{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid black;
   
}
.proj-container:hover{
    background-color: var(--hoverColor);
}
.active{
    background-color: var(--hoverColor) !important;
}
.proj-container img{
    margin-right: 10px;
    margin-left: 10px;
}
.default-projects{
    margin-top: 2rem;
}
.sidebar button{
    text-align: left;
    height: 2rem;
    /* border:0; */
}

.default-projects, .new-projects{
    display: flex;
    flex-direction: column;
}
.new-projects h2{
    
}

.user-proj {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: var(--sidebarColor);
    justify-content: space-between;
    padding-left: 10px;
    border: 1px solid black;
}
.user-proj:hover{
    background-color: var(--hoverColor);
}
.user-proj img{
    margin-right: 5px;
}
#butt-div{
    margin-top:5px;
}
#butt-add{
    width:4rem;
    margin-right:5px;
    text-align: center !important;
}
#butt-cancel{
    width:4rem;
    margin-left:5px;
    text-align: center !important;
}
#input-div{

}

/* MAIN PART */
.main{
    grid-area: main;
    padding: var(--mainPadding);
}

/* FOOTER PART */
.footer{
    background-color: green;
    grid-area: footer;
}

/* TODOS PART */
.todos{
    margin: 1rem 0;
    padding: 0 1rem;
    border: 1px solid black;
    border-radius: 10px;
    display:flex;
}
.todoTitleDescContainer{
    width:90%;
    text-align: left;
}
.todoTitle > h2{
    margin: 5px 0;
}
.todoDescription > p{
    margin: 5px 0;
}
.todoDate > p{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 0;
}
.todoDatePrioContainer{
    width:10%;
    display: flex;
    
    flex-direction: column;
}
.todoPriority > p{
    margin: 5px 0;
}
.remTodoDiv{
    width:8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px 0;
    
}
.inactive{
    text-decoration: line-through;
}